<nav class="navbar navbar-expand-lg navbar-dark teal mb-4">
            <a class="navbar-brand" href="/">Lab 11</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav mr-auto">

                    <li class="nav-item active" style = 'color'>

                        <a class="nav-link" href="/">Home <span class="sr-only">(current)</span></a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">Features</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">Pricing</a>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Dropdown
                            </a>
                        <div class="dropdown-menu dropdown-primary" aria-labelledby="navbarDropdownMenuLink">
                            <a class="dropdown-item" href="#">Action</a>
                            <a class="dropdown-item" href="#">Another action</a>
                            <a class="dropdown-item" href="#">Something else here</a>
                        </div>
                    </li>
                </ul>
                <ul class="nav pull-right">
        <% if current_user %>
          <li>  <%= render 'shopping_carts/shopping_cart' %> &nbsp &nbsp </li>
          <li><%= link_to('Logout', destroy_user_session_path, method: :get , class: "a-primary") %> &nbsp &nbsp
        <% else %>
          <li><%= link_to "Sign In", new_user_registration_path, class: "a-primary" %> &nbsp &nbsp
          </li>
          <li><%= link_to "Login", new_user_session_path, class: "a-primary" %> &nbsp </li>
        <% end %>
          </ul>
                <form class="form-inline">
                    <input class="form-control mr-sm-2" type="text" placeholder="Search" aria-label="Search">
                </form>
            </div>
        </nav>
